@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);




*, *::before, *::after {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}